*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color:#C4BCB2 ;
}
.navbar{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content:space-between;
   align-items: center;
   padding: 0px 30px;
   border-bottom: 1px solid black ;
    
}
.navbar h5{
    font-family: serif;
    font-size: 12px;
    font-weight: 200;
    width: 30%;
   
}
.navbar img{
    width: 30%;
    height: 20px;
    margin-right: 28vw; 
}
.navbar i{
    font-size: 20px;
    font-weight: 700;
    
}






@media (max-width:600px) {
    .navbar h5{
        font-size: 8px;
    }
    .navbar img{
        margin-left: 60px;
    }
    
}
